.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/node_modules
/site
node_modules/
*.patch

# UMAF specific ignores
/dist
.umaf-cache.json
*.tmp
